@page
@model Chmura.Pages.HomeModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center mt-5">
    <h1 class="display-4">Witaj w aplikacji Chmura!</h1>
    <p class="lead">Aby korzystać z aplikacji, zaloguj się przez Google.</p>
    <div class="mt-4">
        <a href="/" class="btn btn-primary btn-lg mx-2">Zaloguj się</a>
    </div>
</div>